In [439]:
import pandas as pd
import torch

In [440]:
# Import train and test set
train = pd.read_csv('titanic-dataset/train.csv')
test = pd.read_csv('titanic-dataset/test.csv')

In [441]:
# Get target values
y = train['Survived']

# Drop the Survived column and remove it from further calculations
train.drop(columns=['Survived'], inplace=True)

In [442]:
display(train.shape)
display(test.shape)
display(y.shape)

(891, 11)

(418, 11)

(891,)

### NaN values

In [443]:
# Check for NaN values
train.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [444]:
# Use mode() function to get the most frequent value
modes = train.mode().iloc[0]
modes

PassengerId                      1
Pclass                         3.0
Name           Abbing, Mr. Anthony
Sex                           male
Age                           24.0
SibSp                          0.0
Parch                          0.0
Ticket                        1601
Fare                          8.05
Cabin                      B96 B98
Embarked                         S
Name: 0, dtype: object

In [445]:
# Use fillna with most frequent values
train.fillna(modes, inplace=True)

In [446]:
# Check for NaN values
train.isna().sum().sum()

0

Get rid of 'Name', 'Ticket' abd 'Cabin' variables
**NOTE**: We don't use those values because right now it is out of scope. However, information in those variables are crucial and very imortant! The best score in Kaggle on Titanic dataset is performed only on 'Name' variable! See this notebook for more information: https://www.kaggle.com/code/cdeotte/titanic-using-name-only-0-81818/notebook
**NOTE**: It's very common in tabular data to use *categorical embeddings*. This is on *TODO* list right after finishing this notebook.

In [447]:
train.drop(columns=['Name', 'Ticket', 'Cabin'], inplace=True)

### Label encoding

In [448]:
# Explore which variables are categorical
train

     PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0              1       3    male  22.0      1      0   7.2500        S
1              2       1  female  38.0      1      0  71.2833        C
2              3       3  female  26.0      0      0   7.9250        S
3              4       1  female  35.0      1      0  53.1000        S
4              5       3    male  35.0      0      0   8.0500        S
..           ...     ...     ...   ...    ...    ...      ...      ...
886          887       2    male  27.0      0      0  13.0000        S
887          888       1  female  19.0      0      0  30.0000        S
888          889       3  female  24.0      1      2  23.4500        S
889          890       1    male  26.0      0      0  30.0000        C
890          891       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [449]:
# Categorical varaibles are Pclass, Sex, Embarked - use one-hot encoding for gender and label for embarked
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_encoder = LabelEncoder()
one_hot_encoder = OneHotEncoder()

In [450]:
# Use one_hot_encode for gender
gender = one_hot_encoder.fit_transform(train[['Sex']])

# Merge train with encoded gender
train = train.merge(pd.DataFrame(gender.toarray(), columns=['Male', 'Female']), left_index=True, right_index=True)

# Drop unused column
train.drop(columns=['Sex'], inplace=True)

# Encode 'Embarked' with label encoder
train['Embarked'] = label_encoder.fit_transform(train['Embarked'])

# Print
train

     PassengerId  Pclass   Age  SibSp  Parch     Fare  Embarked  Male  Female
0              1       3  22.0      1      0   7.2500         2   0.0     1.0
1              2       1  38.0      1      0  71.2833         0   1.0     0.0
2              3       3  26.0      0      0   7.9250         2   1.0     0.0
3              4       1  35.0      1      0  53.1000         2   1.0     0.0
4              5       3  35.0      0      0   8.0500         2   0.0     1.0
..           ...     ...   ...    ...    ...      ...       ...   ...     ...
886          887       2  27.0      0      0  13.0000         2   0.0     1.0
887          888       1  19.0      0      0  30.0000         2   1.0     0.0
888          889       3  24.0      1      2  23.4500         2   1.0     0.0
889          890       1  26.0      0      0  30.0000         0   0.0     1.0
890          891       3  32.0      0      0   7.7500         1   0.0     1.0

[891 rows x 9 columns]

### Use the same preprocessing techniques for test set

In [451]:
test.drop(columns=['Name', 'Ticket', 'Cabin'], inplace=True)

In [452]:
# Use one_hot_encode for gender
gender = one_hot_encoder.fit_transform(test[['Sex']])

# Merge train with encoded gender
test = test.merge(pd.DataFrame(gender.toarray(), columns=['Male', 'Female']), left_index=True, right_index=True)

# Drop unused column
test.drop(columns=['Sex'], inplace=True)

# Encode 'Embarked' with label encoder
test['Embarked'] = label_encoder.fit_transform(test['Embarked'])

# Print
test

     PassengerId  Pclass   Age  SibSp  Parch      Fare  Embarked  Male  Female
0            892       3  34.5      0      0    7.8292         1   0.0     1.0
1            893       3  47.0      1      0    7.0000         2   1.0     0.0
2            894       2  62.0      0      0    9.6875         1   0.0     1.0
3            895       3  27.0      0      0    8.6625         2   0.0     1.0
4            896       3  22.0      1      1   12.2875         2   1.0     0.0
..           ...     ...   ...    ...    ...       ...       ...   ...     ...
413         1305       3   NaN      0      0    8.0500         2   0.0     1.0
414         1306       1  39.0      0      0  108.9000         0   1.0     0.0
415         1307       3  38.5      0      0    7.2500         2   0.0     1.0
416         1308       3   NaN      0      0    8.0500         2   0.0     1.0
417         1309       3   NaN      1      1   22.3583         0   0.0     1.0

[418 rows x 9 columns]

In [453]:
# Check whether the dimensions are correct
display(train.shape)
display(test.shape)

(891, 9)

(418, 9)

## Model

In [454]:
from torch import nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader

In [455]:
# Get cpu or gpu device for training.
device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using {device} device")

Using cpu device

In [456]:
n_features = train.shape[1]

# Define the class
class TitanicNetwork(nn.Module):
    def __init__(self):
        super(TitanicNetwork, self).__init__()

        # Number of input features is 9
        self.layer_in = nn.Linear(n_features, 63)
        self.layer_2 = nn.Linear(63, 63)
        self.layer_out = nn.Linear(63,1)

        self.relu = nn.ReLU()
        self.dropout = nn.Dropout(p=0.1)
        self.batchnorm1 = nn.BatchNorm1d(63)
        self.batchnorm2 = nn.BatchNorm1d(63)

    def forward(self, inputs):
        x = self.relu(self.layer_in(inputs))
        x = self.batchnorm1(x)
        x = self.relu(self.layer_2(x))
        x = self.batchnorm2(x)
        x = self.dropout(x)
        x = self.layer_out(x)

        return x

**Note**: that we did not use the Sigmoid activation in our final layer during training. Thatâ€™s because, we use the nn.BCEWithLogitsLoss() loss function which automatically applies the Sigmoid activation.

In [457]:
# Initialize the model
model = TitanicNetwork()

# Specify the device type responsible to load model into memory
model.to(device)

TitanicNetwork(
  (layer_in): Linear(in_features=9, out_features=63, bias=True)
  (layer_2): Linear(in_features=63, out_features=63, bias=True)
  (layer_out): Linear(in_features=63, out_features=1, bias=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.1, inplace=False)
  (batchnorm1): BatchNorm1d(63, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (batchnorm2): BatchNorm1d(63, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)

In [458]:
print(model)

TitanicNetwork(
  (layer_in): Linear(in_features=9, out_features=63, bias=True)
  (layer_2): Linear(in_features=63, out_features=63, bias=True)
  (layer_out): Linear(in_features=63, out_features=1, bias=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.1, inplace=False)
  (batchnorm1): BatchNorm1d(63, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (batchnorm2): BatchNorm1d(63, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)

In [459]:
print(list(model.named_parameters()))

[('layer_in.weight', Parameter containing:
tensor([[ 0.1907, -0.1229, -0.2440,  0.1249,  0.2736, -0.2586, -0.1627,  0.0092,
          0.3040],
        [-0.1466,  0.2820,  0.1667,  0.0917,  0.2914,  0.0559,  0.2692, -0.1819,
          0.3111],
        [-0.0965, -0.1128,  0.2828, -0.1476, -0.2080,  0.2445,  0.2947,  0.1941,
         -0.1125],
        [-0.2062,  0.1308,  0.2769,  0.3117,  0.1527, -0.0103,  0.2860,  0.3032,
          0.0192],
        [ 0.3093,  0.0769, -0.1166,  0.1175,  0.2519,  0.2626, -0.0088,  0.2218,
          0.1520],
        [ 0.1173,  0.0526,  0.1217,  0.0748, -0.1409, -0.2385, -0.0616,  0.0581,
          0.0655],
        [ 0.0130, -0.0440,  0.1914, -0.2250,  0.1966, -0.0395, -0.2108,  0.1710,
         -0.1307],
        [ 0.1630,  0.0220,  0.0566, -0.1350,  0.0823, -0.1331,  0.0939,  0.2427,
          0.2522],
        [ 0.1909,  0.1631,  0.0541,  0.0383,  0.0873, -0.2937,  0.1262, -0.1916,
          0.1727],
        [-0.2571, -0.2144,  0.0708,  0.2895,  0.1530,  0.3241, -0.3243,  0.0118,
         -0.2121],
        [-0.2741,  0.2916,  0.3248,  0.0077, -0.2013,  0.2544, -0.0067, -0.0754,
          0.1909],
        [ 0.2601, -0.1412,  0.0830, -0.0402,  0.2711,  0.3107, -0.0506,  0.0216,
          0.2595],
        [ 0.3313, -0.2910, -0.2737, -0.0072, -0.2757, -0.1428, -0.0294,  0.0156,
         -0.2065],
        [ 0.2153,  0.1781, -0.0147, -0.1010, -0.0473, -0.2587, -0.1898,  0.2307,
         -0.2389],
        [-0.1763, -0.2867, -0.1702, -0.1012,  0.0032,  0.2607,  0.2698, -0.1876,
          0.0809],
        [-0.1299, -0.2477,  0.2942, -0.2615, -0.1931, -0.1531,  0.0722,  0.3090,
         -0.2234],
        [-0.2251, -0.1958, -0.2648,  0.1713,  0.0495,  0.0705, -0.0397,  0.1982,
         -0.1592],
        [ 0.1071,  0.1018,  0.3213,  0.2419,  0.0475, -0.2499, -0.2789, -0.0733,
         -0.2385],
        [ 0.2040, -0.1340, -0.2639, -0.2351,  0.1453,  0.3129, -0.1708,  0.0197,
          0.0276],
        [ 0.0397,  0.2859, -0.1285,  0.2058, -0.0382,  0.0311,  0.1353,  0.2163,
          0.2344],
        [-0.3125, -0.3292, -0.0054,  0.0942,  0.3321, -0.2565,  0.2364, -0.0118,
          0.2145],
        [ 0.1293, -0.2897,  0.1495, -0.2226,  0.2358, -0.1040, -0.3307, -0.2450,
          0.2332],
        [ 0.3249, -0.1889, -0.0722,  0.1065, -0.0238, -0.3059, -0.2912,  0.2970,
         -0.2179],
        [-0.2801,  0.1930,  0.2254, -0.2526, -0.1094,  0.0600,  0.0123, -0.0200,
          0.3322],
        [-0.3297, -0.1904, -0.1683,  0.2552, -0.2511, -0.1294,  0.0660, -0.1105,
          0.1167],
        [-0.2249,  0.1828, -0.2674,  0.1642, -0.1943,  0.0479, -0.2901, -0.1303,
          0.2997],
        [-0.2047,  0.1379, -0.3094, -0.1191, -0.0227, -0.0678, -0.0193, -0.0201,
         -0.1591],
        [ 0.1364, -0.0421,  0.2137,  0.0580, -0.0272,  0.0867,  0.2630,  0.3316,
          0.0611],
        [-0.2386, -0.0725,  0.2075,  0.0846,  0.1264, -0.1638, -0.0069,  0.2927,
          0.2345],
        [ 0.0068,  0.2029, -0.1316, -0.2162,  0.1471,  0.0095,  0.0264, -0.2916,
         -0.1567],
        [-0.2908,  0.1290,  0.0380, -0.1574,  0.1110,  0.0548,  0.1437,  0.2824,
         -0.2276],
        [-0.1821,  0.0139, -0.1799, -0.2803, -0.2586,  0.1268, -0.2559, -0.1884,
         -0.3203],
        [-0.2402,  0.0409,  0.2827,  0.2382,  0.0939, -0.0583, -0.0522, -0.3077,
         -0.1433],
        [ 0.2517, -0.1548, -0.2938,  0.2707, -0.3089,  0.1492,  0.0305, -0.1566,
          0.1436],
        [-0.0385,  0.3013, -0.2037, -0.1468, -0.1862,  0.2625, -0.0976,  0.1026,
          0.3126],
        [ 0.1258, -0.1851,  0.1924, -0.2916,  0.0975, -0.0736,  0.0447, -0.2240,
          0.1261],
        [ 0.2634, -0.2556,  0.0254, -0.0974,  0.1776,  0.0095, -0.0595, -0.0528,
          0.2043],
        [-0.0706,  0.1677,  0.2980,  0.2246, -0.2053, -0.0357, -0.2087, -0.0112,
         -0.2815],
        [-0.2180,  0.3008, -0.2190, -0.1971, -0.2902,  0.0259, -0.3015, -0.0203,
         -0.0945],
        [-0.2394,  0.1991,  0.2070,  0.0718, -0.2275,  0.1266,  0.0744,  0.0635,
         -0.3317],
        [ 0.2687,  0.1259, -0.3271, -0.1433, -0.3051, -0.0308, -0.1203, -0.0084,
         -0.0149],
        [ 0.3033, -0.2770, -0.2078,  0.3110,  0.2699,  0.0818, -0.0847, -0.1107,
         -0.0819],
        [ 0.2263,  0.0679, -0.1888, -0.0214, -0.3127,  0.1716, -0.2017, -0.3079,
          0.2281],
        [-0.1878, -0.2107,  0.0309, -0.1295, -0.1239,  0.0565,  0.2787, -0.1597,
          0.3169],
        [ 0.1746, -0.0927, -0.1576,  0.2474, -0.1362,  0.2460,  0.2270,  0.0277,
          0.0989],
        [-0.2674,  0.1181,  0.2606, -0.0217, -0.2813, -0.0296, -0.3046,  0.0074,
          0.0890],
        [ 0.2780, -0.2701,  0.0598,  0.1034, -0.2540,  0.2113,  0.1510,  0.2591,
          0.1018],
        [-0.1185,  0.3169,  0.1730,  0.1344,  0.1082,  0.0181,  0.1094,  0.3259,
          0.1903],
        [ 0.1826,  0.2797,  0.0619, -0.0402, -0.1014,  0.3075,  0.1614, -0.0421,
         -0.1127],
        [-0.0324, -0.1996,  0.1676, -0.1661, -0.0947, -0.0909,  0.0059,  0.1378,
         -0.2750],
        [-0.2200,  0.2002, -0.3238,  0.1686, -0.2531,  0.1673, -0.0564,  0.1441,
          0.0547],
        [-0.3049, -0.2088,  0.3186, -0.0385, -0.0279,  0.0118, -0.1595, -0.2146,
          0.1404],
        [ 0.2849, -0.2529, -0.2095, -0.3268, -0.1885,  0.0781,  0.2591, -0.2791,
          0.0603],
        [ 0.0823, -0.1096, -0.3238,  0.0390,  0.0858,  0.1261,  0.0275, -0.2640,
          0.3111],
        [-0.0935, -0.3023, -0.2459, -0.2773,  0.2245,  0.0723, -0.3005, -0.0166,
          0.0310],
        [ 0.0394,  0.0662, -0.0055, -0.0442, -0.1631, -0.0316,  0.1896,  0.0045,
         -0.3252],
        [ 0.3316,  0.2493,  0.3235, -0.0810,  0.0476, -0.2944,  0.0510, -0.3323,
          0.0437],
        [ 0.3219, -0.3010, -0.2342, -0.2083,  0.0288,  0.3105,  0.1014, -0.0824,
          0.0421],
        [-0.1987, -0.2526,  0.2744, -0.0250,  0.1665, -0.3039,  0.2626, -0.0759,
         -0.1282],
        [-0.2493, -0.1362,  0.2067,  0.1566,  0.0276,  0.1067,  0.2542, -0.0887,
         -0.0215],
        [-0.1963,  0.1295,  0.0064,  0.2238, -0.3157, -0.0449, -0.2273, -0.2963,
          0.0090],
        [-0.0073,  0.0826,  0.0371, -0.2024, -0.0415,  0.0685, -0.1910, -0.0625,
          0.1838],
        [-0.2571, -0.1844, -0.3190,  0.0768, -0.3000,  0.0510, -0.0399, -0.2794,
         -0.3078]], requires_grad=True)), ('layer_in.bias', Parameter containing:
tensor([-0.2591,  0.2248, -0.1217,  0.1838,  0.2028, -0.2820, -0.1611, -0.0534,
        -0.1501,  0.3213,  0.2004,  0.1601, -0.1088, -0.0764,  0.1635, -0.1102,
         0.1923, -0.1553,  0.2075, -0.1489, -0.2315, -0.2470,  0.2468, -0.1508,
        -0.0551,  0.2789,  0.2659, -0.1830, -0.1967,  0.2731, -0.3021, -0.2584,
         0.3171, -0.2171, -0.0559, -0.3063,  0.0396, -0.3026,  0.0841,  0.1310,
         0.1442, -0.2741,  0.0509, -0.3090,  0.0064, -0.1583,  0.1781,  0.2306,
         0.0686, -0.3314,  0.2551, -0.0938, -0.1726, -0.3152, -0.0339,  0.2477,
         0.0017,  0.0020, -0.2382,  0.1991,  0.0921, -0.2073, -0.2471],
       requires_grad=True)), ('layer_2.weight', Parameter containing:
tensor([[ 0.0149, -0.0439,  0.0489,  ..., -0.0038, -0.0290,  0.0228],
        [-0.0951, -0.0987,  0.0841,  ..., -0.1081,  0.0190, -0.1123],
        [ 0.0682, -0.0304,  0.0667,  ...,  0.1090, -0.0456, -0.0719],
        ...,
        [-0.1251, -0.0990,  0.0279,  ..., -0.1057,  0.0393, -0.0571],
        [-0.0946,  0.0788, -0.1154,  ..., -0.0918,  0.1024, -0.1212],
        [-0.1140,  0.0490, -0.0877,  ...,  0.1082, -0.1075,  0.1136]],
       requires_grad=True)), ('layer_2.bias', Parameter containing:
tensor([-0.0771,  0.0565,  0.0135, -0.0141, -0.0508, -0.1168, -0.0948, -0.0966,
         0.1044,  0.0820,  0.0395,  0.0280,  0.0806,  0.0885,  0.0679,  0.0358,
         0.0467,  0.1202,  0.0012, -0.0424,  0.0528, -0.0035,  0.0605, -0.0571,
        -0.0426,  0.0925, -0.0134,  0.0881,  0.0611, -0.0492, -0.0973, -0.1225,
         0.0851,  0.0756, -0.0522, -0.0558, -0.1064,  0.0824,  0.0123,  0.0330,
        -0.0974,  0.0780, -0.0753, -0.1066,  0.0241,  0.1196,  0.1137,  0.1250,
        -0.0962,  0.0554, -0.0308,  0.0734, -0.0452,  0.0989, -0.1052, -0.0852,
        -0.0705, -0.0227,  0.1110, -0.1030, -0.0142,  0.1169, -0.0187],
       requires_grad=True)), ('layer_out.weight', Parameter containing:
tensor([[-0.0248,  0.0251, -0.0258,  0.1155, -0.0825,  0.1243,  0.0549, -0.1237,
         -0.0179, -0.0646,  0.0743,  0.0498, -0.1232, -0.0246, -0.0581,  0.0650,
          0.0433, -0.0306,  0.1243,  0.1233,  0.0305, -0.1112,  0.1194, -0.0520,
          0.1132, -0.0596,  0.0469,  0.0784,  0.0215, -0.0980,  0.0906, -0.0647,
         -0.0484, -0.0697, -0.1022,  0.0912,  0.0664,  0.0787,  0.0051,  0.0253,
          0.0677, -0.0187,  0.0392,  0.1095,  0.1034, -0.0391,  0.0335,  0.0485,
         -0.0251,  0.0968, -0.0889,  0.1153, -0.0861,  0.1057,  0.0303,  0.0261,
          0.0719, -0.0590, -0.0009, -0.0218, -0.0084, -0.0124, -0.1229]],
       requires_grad=True)), ('layer_out.bias', Parameter containing:
tensor([-0.0525], requires_grad=True)), ('batchnorm1.weight', Parameter containing:
tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1.], requires_grad=True)), ('batchnorm1.bias', Parameter containing:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       requires_grad=True)), ('batchnorm2.weight', Parameter containing:
tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1.], requires_grad=True)), ('batchnorm2.bias', Parameter containing:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       requires_grad=True))]

In [460]:
# Init loss function (Binary Cross Entropy Loss) (we assume that target is equally distributed)
loss_function = nn.BCEWithLogitsLoss()

optimizer = optim.Adam(model.parameters(), lr=0.001)

### Train-test-split

In [461]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.33, random_state=42)

### DataLoaders and Dataset

Before training, we should implement custom Dataset class

In [462]:
class TitanicTrainDataset(Dataset):

    def __init__(self, X_data, y_data):
        self.X_data = X_data
        self.y_data = y_data

    def __getitem__(self, index):
        """ Return the single observation, including both independent and dependent variable """
        # Convert idx from tensor to list due to pandas bug (that arises when using pytorch's random_split)
        # if isinstance(index, torch.Tensor):
        #     index = index.tolist()

        return self.X_data[index], self.y_data[index]
        # return [self.X_data.iloc[index].values, self.y_data[index]]

    def __len__(self):
        """ Return the number of rows from tabular data """
        return len(self.X_data)

In [463]:
class TitanicTestDataset(Dataset):

    def __init__(self, X_data):
        self.X_data = X_data

    def __getitem__(self, index):
        """ Return the single observation, including only independent variable """
        if isinstance(index, torch.Tensor):
            index = index.tolist()

        return self.X_data[index]

    def __len__(self):
        """ Return the number of rows from tabular data """
        return len(self.X_data)

In [464]:
train_data = TitanicTrainDataset(torch.Tensor(X_train.values), torch.Tensor(y_train.values))
test_data = TitanicTestDataset(torch.Tensor(X_test.values))

In [465]:
# Test len method
train_data.__len__()

596

In [466]:
y_train.value_counts()

0    374
1    222
Name: Survived, dtype: int64

In [467]:
# Test getitem method
train_data.__getitem__(1)

(tensor([719.0000,   3.0000,  24.0000,   0.0000,   0.0000,  15.5000,   1.0000,
           0.0000,   1.0000]),
 tensor(0.))

In [468]:
# Initialize dataloaders
BATCH_SIZE_TRAIN = 64
BATCH_SIZE_TEST = 1
train_dataloader = DataLoader(dataset=train_data, batch_size=BATCH_SIZE_TRAIN, shuffle=True)
test_dataloader = DataLoader(dataset=test_data, batch_size=BATCH_SIZE_TEST, shuffle=False)

### Train

In [469]:
# Define binary accuracy function
def binary_acc(y_pred, y_test):
    y_pred_tag = torch.round(torch.sigmoid(y_pred))

    correct_results_sum = (y_pred_tag == y_test).sum().float()
    acc = correct_results_sum/y_test.shape[0]
    acc = torch.round(acc * 100)

    return acc

In [470]:
EPOCHS = 50

# Prepare model for training (default state)
model.train()

for e in range(1, EPOCHS+1):

    # Init loss and acc per epoch to zero
    epoch_loss = 0
    epoch_acc = 0

    # For loop to get our data in batches from dataloader
    for X_batch, y_batch in train_dataloader:

        # Load batches into memory (device)
        X_batch, y_batch = X_batch.to(device), y_batch.to(device)

        # Set .grad attribute of all tensors to zero (otherwise we would accumulate it with .backwards())
        optimizer.zero_grad()

        # Forward pass (use input data to make prediction)
        y_pred = model(X_batch)

        # Calculate loss based on prediction and true value
        loss = loss_function(y_pred, y_batch.unsqueeze(1))
        acc = binary_acc(y_pred, y_batch.unsqueeze(1))

        # We backpropagate this error through the network
        # The gradient is calculated for tensors which requires_grad=True
        loss.backward()

        # Adjust each parameter (weight and bias) by its gradient stored in .grad
        optimizer.step()

        # Calculate loss and accuracy
        epoch_loss += loss.item()
        epoch_acc += acc.item()

    print(f'Epoch {e+0:03}: | Loss: {epoch_loss/len(train_dataloader):.5f} | Acc: {epoch_acc/len(train_dataloader):.3f}')

Epoch 001: | Loss: 0.67724 | Acc: 61.600
Epoch 002: | Loss: 0.65114 | Acc: 62.300
Epoch 003: | Loss: 0.62826 | Acc: 67.400
Epoch 004: | Loss: 0.61366 | Acc: 65.300
Epoch 005: | Loss: 0.60292 | Acc: 69.800
Epoch 006: | Loss: 0.60986 | Acc: 68.000
Epoch 007: | Loss: 0.59767 | Acc: 69.600
Epoch 008: | Loss: 0.60296 | Acc: 69.600
Epoch 009: | Loss: 0.57120 | Acc: 72.200
Epoch 010: | Loss: 0.61025 | Acc: 67.600
Epoch 011: | Loss: 0.59133 | Acc: 70.300
Epoch 012: | Loss: 0.58224 | Acc: 70.500
Epoch 013: | Loss: 0.59920 | Acc: 68.500
Epoch 014: | Loss: 0.58636 | Acc: 69.800
Epoch 015: | Loss: 0.58668 | Acc: 67.900
Epoch 016: | Loss: 0.57719 | Acc: 69.500
Epoch 017: | Loss: 0.57444 | Acc: 69.500
Epoch 018: | Loss: 0.56106 | Acc: 72.100
Epoch 019: | Loss: 0.54820 | Acc: 72.800
Epoch 020: | Loss: 0.54852 | Acc: 71.200
Epoch 021: | Loss: 0.55163 | Acc: 72.800
Epoch 022: | Loss: 0.51948 | Acc: 73.600
Epoch 023: | Loss: 0.51147 | Acc: 76.600
Epoch 024: | Loss: 0.50416 | Acc: 75.200
Epoch 025: | Loss: 0.49712 | Acc: 77.500
Epoch 026: | Loss: 0.49139 | Acc: 77.200
Epoch 027: | Loss: 0.46255 | Acc: 79.300
Epoch 028: | Loss: 0.46541 | Acc: 78.100
Epoch 029: | Loss: 0.46014 | Acc: 78.400
Epoch 030: | Loss: 0.47976 | Acc: 77.800
Epoch 031: | Loss: 0.43643 | Acc: 82.000
Epoch 032: | Loss: 0.46333 | Acc: 78.700
Epoch 033: | Loss: 0.41351 | Acc: 81.800
Epoch 034: | Loss: 0.44174 | Acc: 80.400
Epoch 035: | Loss: 0.44462 | Acc: 80.300
Epoch 036: | Loss: 0.43463 | Acc: 81.900
Epoch 037: | Loss: 0.44751 | Acc: 80.400
Epoch 038: | Loss: 0.42347 | Acc: 82.000
Epoch 039: | Loss: 0.44126 | Acc: 79.100
Epoch 040: | Loss: 0.40988 | Acc: 82.500
Epoch 041: | Loss: 0.41753 | Acc: 81.600
Epoch 042: | Loss: 0.42879 | Acc: 80.500
Epoch 043: | Loss: 0.42229 | Acc: 80.400
Epoch 044: | Loss: 0.41589 | Acc: 82.000
Epoch 045: | Loss: 0.40718 | Acc: 82.100
Epoch 046: | Loss: 0.43119 | Acc: 81.100
Epoch 047: | Loss: 0.42009 | Acc: 80.900
Epoch 048: | Loss: 0.42550 | Acc: 81.200
Epoch 049: | Loss: 0.39772 | Acc: 83.900
Epoch 050: | Loss: 0.41135 | Acc: 82.600

### Test

In [471]:
y_pred_list = []

# Prepare model for testing
model.eval()

# We don't want to perform backpropagation
with torch.no_grad():

    # Go through batches
    for X_batch in test_dataloader:

        # Load batch into memory
        X_batch = X_batch.to(device)

        # Get the result
        y_test_pred = model(X_batch)

        y_test_pred = torch.sigmoid(y_test_pred)

        # Round probabilities to 0 or 1
        y_pred_tag = torch.round(y_test_pred)

        # Convert tensor to numpy object
        y_pred_list.append(y_pred_tag.cpu().numpy())

# Flatten the list to use confusion matrix and classification report
y_pred_list = [a.squeeze().tolist() for a in y_pred_list]

In [472]:
from sklearn.metrics import confusion_matrix, classification_report

# Plot confusion matrix
confusion_matrix(y_test, y_pred_list)

array([[158,  17],
       [ 41,  79]])

In [473]:
print(classification_report(y_test, y_pred_list))

              precision    recall  f1-score   support

           0       0.79      0.90      0.84       175
           1       0.82      0.66      0.73       120

    accuracy                           0.80       295
   macro avg       0.81      0.78      0.79       295
weighted avg       0.81      0.80      0.80       295