In [51]:
import pandas as pd
import torch

In [52]:
# Import train and test set
train = pd.read_csv('titanic-dataset/train.csv')
test = pd.read_csv('titanic-dataset/test.csv')

In [53]:
# Get target values
y = train['Survived']

# Drop the Survived column and remove it from further calculations
train.drop(columns=['Survived'], inplace=True)

In [56]:
display(train.shape)
display(test.shape)
display(y.shape)

(891, 11)

(418, 11)

(891,)

### NaN values

In [57]:
# Check for NaN values
train.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [58]:
# Use mode() function to get the most frequent value
modes = train.mode().iloc[0]
modes

PassengerId                      1
Pclass                         3.0
Name           Abbing, Mr. Anthony
Sex                           male
Age                           24.0
SibSp                          0.0
Parch                          0.0
Ticket                        1601
Fare                          8.05
Cabin                      B96 B98
Embarked                         S
Name: 0, dtype: object

In [59]:
# Use fillna with most frequent values
train.fillna(modes, inplace=True)

In [60]:
# Check for NaN values
train.isna().sum().sum()

0

Get rid of 'Name', 'Ticket' abd 'Cabin' variables
**NOTE**: We don't use those values because right now it is out of scope. However, information in those variables are crucial and very imortant! The best score in Kaggle on Titanic dataset is performed only on 'Name' variable! See this notebook for more information: https://www.kaggle.com/code/cdeotte/titanic-using-name-only-0-81818/notebook
**NOTE**: It's very common in tabular data to use *categorical embeddings*. This is on *TODO* list right after finishing this notebook.

In [61]:
train.drop(columns=['Name', 'Ticket', 'Cabin'], inplace=True)

### Label encoding

In [62]:
# Explore which variables are categorical
train

     PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0              1       3    male  22.0      1      0   7.2500        S
1              2       1  female  38.0      1      0  71.2833        C
2              3       3  female  26.0      0      0   7.9250        S
3              4       1  female  35.0      1      0  53.1000        S
4              5       3    male  35.0      0      0   8.0500        S
..           ...     ...     ...   ...    ...    ...      ...      ...
886          887       2    male  27.0      0      0  13.0000        S
887          888       1  female  19.0      0      0  30.0000        S
888          889       3  female  24.0      1      2  23.4500        S
889          890       1    male  26.0      0      0  30.0000        C
890          891       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [63]:
# Categorical varaibles are Pclass, Sex, Embarked - use one-hot encoding for gender and label for embarked
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

label_encoder = LabelEncoder()
one_hot_encoder = OneHotEncoder()

In [64]:
# Use one_hot_encode for gender
gender = one_hot_encoder.fit_transform(train[['Sex']])

# Merge train with encoded gender
train = train.merge(pd.DataFrame(gender.toarray(), columns=['Male', 'Female']), left_index=True, right_index=True)

# Drop unused column
train.drop(columns=['Sex'], inplace=True)

# Encode 'Embarked' with label encoder
train['Embarked'] = label_encoder.fit_transform(train['Embarked'])

# Print
train

     PassengerId  Pclass   Age  SibSp  Parch     Fare  Embarked  Male  Female
0              1       3  22.0      1      0   7.2500         2   0.0     1.0
1              2       1  38.0      1      0  71.2833         0   1.0     0.0
2              3       3  26.0      0      0   7.9250         2   1.0     0.0
3              4       1  35.0      1      0  53.1000         2   1.0     0.0
4              5       3  35.0      0      0   8.0500         2   0.0     1.0
..           ...     ...   ...    ...    ...      ...       ...   ...     ...
886          887       2  27.0      0      0  13.0000         2   0.0     1.0
887          888       1  19.0      0      0  30.0000         2   1.0     0.0
888          889       3  24.0      1      2  23.4500         2   1.0     0.0
889          890       1  26.0      0      0  30.0000         0   0.0     1.0
890          891       3  32.0      0      0   7.7500         1   0.0     1.0

[891 rows x 9 columns]

### Use the same preprocessing techniques for test set

In [65]:
test.drop(columns=['Name', 'Ticket', 'Cabin'], inplace=True)

In [66]:
# Use one_hot_encode for gender
gender = one_hot_encoder.fit_transform(test[['Sex']])

# Merge train with encoded gender
test = test.merge(pd.DataFrame(gender.toarray(), columns=['Male', 'Female']), left_index=True, right_index=True)

# Drop unused column
test.drop(columns=['Sex'], inplace=True)

# Encode 'Embarked' with label encoder
test['Embarked'] = label_encoder.fit_transform(test['Embarked'])

# Print
test

     PassengerId  Pclass   Age  SibSp  Parch      Fare  Embarked  Male  Female
0            892       3  34.5      0      0    7.8292         1   0.0     1.0
1            893       3  47.0      1      0    7.0000         2   1.0     0.0
2            894       2  62.0      0      0    9.6875         1   0.0     1.0
3            895       3  27.0      0      0    8.6625         2   0.0     1.0
4            896       3  22.0      1      1   12.2875         2   1.0     0.0
..           ...     ...   ...    ...    ...       ...       ...   ...     ...
413         1305       3   NaN      0      0    8.0500         2   0.0     1.0
414         1306       1  39.0      0      0  108.9000         0   1.0     0.0
415         1307       3  38.5      0      0    7.2500         2   0.0     1.0
416         1308       3   NaN      0      0    8.0500         2   0.0     1.0
417         1309       3   NaN      1      1   22.3583         0   0.0     1.0

[418 rows x 9 columns]

In [68]:
# Check whether the dimensions are correct
display(train.shape)
display(test.shape)

(891, 9)

(418, 9)

## Model

In [47]:
from torch import nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader

In [28]:
# Get cpu or gpu device for training.
device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using {device} device")

Using cpu device

In [39]:
# Define the class
class TitanicNetwork(nn.Module):
    def __init__(self):
        super(TitanicNetwork, self).__init__()

        # Number of input features is 9
        self.layer_in = nn.Linear(9, 36)
        self.layer_2 = nn.Linear(36, 36)
        self.layer_out = nn.Linear(36,1)

        self.relu = nn.ReLU()
        self.dropout = nn.Dropout(p=0.1)
        self.batchnorm1 = nn.BatchNorm1d(36)

    def forward(self, inputs):
        x = self.relu(self.layer_in(inputs))
        x = self.batchnorm1(x)
        x = self.relu(self.layer_2(x))
        x = self.dropout(x)
        x = self.layer_out(x)

        return x

**Note**: that we did not use the Sigmoid activation in our final layer during training. Thatâ€™s because, we use the nn.BCEWithLogitsLoss() loss function which automatically applies the Sigmoid activation.

In [42]:
# Initialize the model
model = TitanicNetwork()

# Specify the device type responsible to load model into memory
model.to(device)

TitanicNetwork(
  (layer_in): Linear(in_features=9, out_features=36, bias=True)
  (layer_2): Linear(in_features=36, out_features=36, bias=True)
  (layer_out): Linear(in_features=36, out_features=1, bias=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.1, inplace=False)
  (batchnorm1): BatchNorm1d(36, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)

In [43]:
print(model)

TitanicNetwork(
  (layer_in): Linear(in_features=9, out_features=36, bias=True)
  (layer_2): Linear(in_features=36, out_features=36, bias=True)
  (layer_out): Linear(in_features=36, out_features=1, bias=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.1, inplace=False)
  (batchnorm1): BatchNorm1d(36, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)

In [44]:
print(list(model.named_parameters()))

[('layer_in.weight', Parameter containing:
tensor([[ 0.0557, -0.2613,  0.0586,  0.1018, -0.1719,  0.3269,  0.2270,  0.1842,
          0.1527],
        [-0.0396, -0.0199,  0.0333,  0.2156,  0.1851,  0.0743,  0.1887, -0.1132,
          0.0048],
        [ 0.2750, -0.3151,  0.2268, -0.1052,  0.1912,  0.3188, -0.2516,  0.1852,
          0.0044],
        [-0.3325, -0.2183, -0.1954, -0.3271, -0.1158,  0.1129,  0.2384, -0.1345,
         -0.0847],
        [-0.2663, -0.0976,  0.0794, -0.0964,  0.2563, -0.2181, -0.0504, -0.0982,
          0.1203],
        [-0.2882,  0.1759, -0.2677,  0.2191,  0.0739, -0.2554, -0.1136,  0.2131,
         -0.3157],
        [-0.2592, -0.0279, -0.1885,  0.0361, -0.2181,  0.1029,  0.3166,  0.1213,
         -0.2273],
        [-0.3153, -0.2160, -0.2170, -0.1859,  0.0770,  0.2835,  0.2916, -0.1762,
         -0.0927],
        [-0.0537,  0.1690, -0.2783,  0.2494,  0.2160,  0.2826,  0.1458, -0.0816,
         -0.1394],
        [ 0.0402,  0.3094,  0.2060, -0.1390, -0.2516,  0.1834,  0.0613, -0.1078,
         -0.2285],
        [-0.1596,  0.2049, -0.2740, -0.2549,  0.0119,  0.0712,  0.0904, -0.3236,
          0.0397],
        [-0.2814,  0.0004,  0.0882, -0.3191,  0.0808,  0.1235, -0.2882, -0.2732,
          0.0324],
        [-0.2300, -0.2712, -0.1366, -0.1474,  0.0361,  0.0574, -0.0673,  0.0036,
          0.0345],
        [-0.0184,  0.2399, -0.2815,  0.0532,  0.0555, -0.1945,  0.2648, -0.0806,
          0.1108],
        [-0.1428, -0.2529, -0.2479,  0.1636, -0.1158,  0.1330, -0.2934, -0.1475,
          0.2608],
        [-0.3023,  0.1702, -0.2173,  0.0261,  0.0815, -0.0971,  0.1718,  0.2336,
          0.2551],
        [ 0.2361,  0.2913, -0.1256,  0.1534, -0.2069, -0.0753,  0.0123, -0.2757,
          0.1724],
        [-0.2231,  0.1162,  0.2405,  0.1129, -0.2394, -0.1266,  0.2288, -0.3191,
          0.1276],
        [ 0.0538, -0.1269,  0.1763,  0.1995,  0.2727, -0.0415,  0.2224,  0.2328,
         -0.0516],
        [-0.1625, -0.3143, -0.0833,  0.0660,  0.3196,  0.3061,  0.0379,  0.0601,
          0.0164],
        [-0.0586, -0.3102,  0.0590,  0.0743, -0.3286, -0.0603, -0.2875,  0.2492,
          0.1679],
        [-0.1368,  0.1410, -0.1289,  0.2882,  0.0638, -0.2184, -0.2837,  0.2188,
         -0.2368],
        [ 0.2833, -0.2648,  0.0676, -0.0860, -0.2973, -0.1286,  0.0066,  0.2857,
          0.2648],
        [ 0.2509,  0.1734, -0.2044, -0.2173,  0.2484, -0.1593, -0.1229,  0.2563,
          0.3168],
        [ 0.3125,  0.0353,  0.0199,  0.3115,  0.0942,  0.2336,  0.0424, -0.2454,
          0.2964],
        [-0.3201,  0.3142,  0.1225,  0.0198,  0.1049, -0.0896,  0.0444,  0.0712,
         -0.2413],
        [ 0.2442,  0.1132, -0.1963,  0.1410,  0.0451, -0.1397,  0.2447,  0.2077,
          0.1784],
        [ 0.0239,  0.0857, -0.1041,  0.2861, -0.0928, -0.0890, -0.0930,  0.0867,
          0.3308],
        [ 0.2618,  0.2559,  0.3122, -0.2535,  0.3284,  0.0746, -0.1579, -0.3084,
          0.3317],
        [-0.0930,  0.2193,  0.2344,  0.1859,  0.0249, -0.2729, -0.0234,  0.1032,
         -0.2531],
        [-0.2247,  0.1823, -0.0695, -0.1164, -0.2401, -0.0006, -0.2116, -0.2204,
         -0.2138],
        [-0.2273, -0.2083,  0.0619, -0.2703,  0.0347,  0.1558,  0.0253,  0.1480,
          0.2151],
        [-0.2350,  0.2915, -0.3019,  0.1133, -0.0175, -0.0683, -0.0692,  0.1605,
          0.1672],
        [-0.2712, -0.0686, -0.3121, -0.0829, -0.3274, -0.1678,  0.2939,  0.3083,
         -0.1320],
        [-0.0287, -0.2161, -0.2350, -0.0004,  0.0610, -0.0820, -0.0997, -0.2943,
          0.2298],
        [ 0.2834, -0.2417, -0.1343,  0.2373, -0.2194,  0.1309,  0.2400, -0.1859,
          0.0296]], requires_grad=True)), ('layer_in.bias', Parameter containing:
tensor([ 0.2541,  0.1977,  0.1707,  0.2129,  0.1264, -0.2496,  0.1243,  0.1511,
        -0.2310,  0.0642, -0.1158, -0.1483, -0.2334, -0.1755,  0.2691,  0.1696,
        -0.0710, -0.0820,  0.2481, -0.2083,  0.3144, -0.0591,  0.2042,  0.0861,
        -0.1082, -0.1674, -0.3094,  0.0380, -0.2731, -0.2350, -0.1176, -0.1227,
        -0.2758, -0.2128, -0.2320,  0.0235], requires_grad=True)), ('layer_2.weight', Parameter containing:
tensor([[-0.0467,  0.0584, -0.0318,  ...,  0.0831,  0.0805,  0.1072],
        [ 0.0866,  0.1322,  0.0380,  ..., -0.1650, -0.1146,  0.1046],
        [-0.1439, -0.1597, -0.1514,  ..., -0.0463, -0.1257, -0.1392],
        ...,
        [-0.1379, -0.1036,  0.1636,  ...,  0.1486, -0.0271,  0.0478],
        [ 0.0432,  0.0485, -0.0412,  ...,  0.0403, -0.1162,  0.0183],
        [ 0.0589, -0.1659,  0.0381,  ...,  0.0273, -0.1160, -0.0546]],
       requires_grad=True)), ('layer_2.bias', Parameter containing:
tensor([ 0.0743, -0.0897,  0.0870, -0.1183, -0.1043,  0.1511,  0.0910,  0.1562,
         0.0998, -0.0963, -0.0932,  0.1147, -0.1407, -0.1036, -0.0031, -0.1089,
        -0.0449, -0.0494,  0.0397,  0.0983, -0.0562, -0.1293,  0.0387, -0.1296,
         0.0702,  0.0805, -0.1363, -0.1475,  0.1611,  0.0813,  0.0677, -0.1280,
        -0.1080, -0.0601, -0.0069, -0.0952], requires_grad=True)), ('layer_out.weight', Parameter containing:
tensor([[-0.0652, -0.0394, -0.1061,  0.1238,  0.0204, -0.0218,  0.0340, -0.1313,
          0.1099,  0.1424,  0.0193,  0.0454,  0.1335, -0.0371, -0.0330, -0.0990,
          0.0912, -0.1390,  0.0921, -0.0352, -0.0347,  0.1214,  0.0694,  0.0714,
         -0.0278,  0.0144, -0.1278, -0.1527,  0.1627, -0.0865,  0.0935, -0.0743,
          0.1589,  0.1186, -0.0912, -0.1631]], requires_grad=True)), ('layer_out.bias', Parameter containing:
tensor([0.0247], requires_grad=True)), ('batchnorm1.weight', Parameter containing:
tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       requires_grad=True)), ('batchnorm1.bias', Parameter containing:
tensor([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], requires_grad=True))]

In [41]:
# Init loss function (Binary Cross Entropy Loss) (we assume that target is equally distributed)
loss_function = nn.BCEWithLogitsLoss()

optimizer = optim.Adam(model.parameters(), lr=0.001)

### DataLoaders and Dataset

Before training, we should implement custom Dataset class

In [87]:
class TitanicTrainDataset(Dataset):

    def __init__(self, X_data, y_data):
        self.X_data = X_data
        self.y_data = y_data

    def __getitem__(self, index):
        """ Return the single observation, including both independent and dependent variable """
        # Convert idx from tensor to list due to pandas bug (that arises when using pytorch's random_split)
        if isinstance(index, torch.Tensor):
            index = index.tolist()

        return self.X_data[index], self.y_data[index]
        # return [self.X_data.iloc[index].values, self.y_data[index]]

    def __len__(self):
        """ Return the number of rows from tabular data """
        return len(self.X_data)

In [91]:
class TitanicTestDataset(Dataset):

    def __init__(self, X_data):
        self.X_data = X_data

    def __getitem__(self, index):
        """ Return the single observation, including only independent variable """
        if isinstance(index, torch.Tensor):
            index = index.tolist()

        return self.X_data[index]

    def __len__(self):
        """ Return the number of rows from tabular data """
        return len(self.X_data)

In [92]:
train_data = TitanicTrainDataset(torch.Tensor(train.values), torch.Tensor(y.values))
test_data = TitanicTestDataset(torch.Tensor(test.values))

In [93]:
# Test len method
train_data.__len__()

891

In [94]:
# Test getitem method
train_data.__getitem__(1)

(tensor([ 2.0000,  1.0000, 38.0000,  1.0000,  0.0000, 71.2833,  0.0000,  1.0000,
          0.0000]),
 tensor(1.))

In [95]:
# Initialize dataloaders
BATCH_SIZE_TRAIN = 64
BATCH_SIZE_TEST = 1
train_dataloader = DataLoader(dataset=train, batch_size=BATCH_SIZE_TRAIN, shuffle=True)
test_dataloader = DataLoader(dataset=test, batch_size=BATCH_SIZE_TEST, shuffle=False)

### Train

In [ ]:
# Init dataloaders
train_loader = DataFrame